[Desktop Entry]
Name=Kode reviewer
Exec=kode-reviewer
Icon=kode-reviewer
Comment=A tool to make code reviews
Type=Application
Terminal=false
Categories=Development;Debugger;Qt;